<web-app>
  <servlet>
    <servlet-name>RandomNumberServlet</servlet-name>
    <servlet-class>com.armr.RandomNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomNumberServlet</servlet-name>
    <url-pattern>/RandomNumberServlet</url-pattern>
  </servlet-mapping>
</web-app>